@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Medium.ttf");
}
@font-face {
  font-family: "Inter-Regular";
  src: url("/fonts/Inter-Regular.ttf");
}
@font-face {
  font-family: "Inter-SemiBold";
  src: url("/fonts/Inter-SemiBold.ttf");
}
@font-face {
  font-family: "Inter-Bold";
  src: url("/fonts/Inter-Bold.ttf");
}
@font-face {
  font-family: "Inter-Medium";
  src: url("/fonts/Inter-Medium.ttf");
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Poppins", serif;
  overflow-y: scroll;
}

.container::-webkit-scrollbar {
  height: 4px; /* 스크롤바 너비 */
}
.container::-webkit-scrollbar-thumb {
  background-color: #343835;
  border-radius: 9999px;
}
.container::-webkit-scrollbar-track {
  background-color: #e8ecef;
  border-radius: 9999px;
}
